/* Body */
body {
  font-family: URW Gothic L;
  background-color: #ccffff;
  margin: 0;
}

h1 {
  font-variant: small-caps;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/* Images */
.img-wave {
  float: left;
  color: #66c2ff;
  border-radius: 20%;
}

.img-avatar {
  width:65px;
  height:60px;
  border-radius: 50%;
  padding: 10px 30px 0 0;
}

.avatar {
  float: right;
  display: inline-block;
}

.meduse {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.git {
  border-radius: 50%;
}

/* Card */
.card {
  background-color: #e6ffff;
  padding: 10px;
  border-radius: 8%;
  box-shadow: 8px 3px 3px #d9d9d9;
}

.card-avatar {
  display: flex;
  justify-content: center;
}

.img-big-avatar {
  border-radius: 50%;
}

.card-category {
  display: flex;
  justify-content: center;
}

/* Button */
button {
  color: #00ff99;
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-content: center;
}

button:hover {
  background-image: linear-gradient(-90deg, #0000cc, #4d94ff, blue, #3399ff);
  color: #ff99ff;
  width: 800px;
  height: 400px;
}
